*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Bai Jamjuree", serif;
}

body{
    font-size: 18px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.header{
    background-image: url(./images/bg-header-desktop.png);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
border-radius: 24px;
padding: 10px;
border: none;
color: #fff;
font-weight: 700;
margin: 10px;
}

.btn-secondary{
    background-color: hsl(233, 100%, 69%);
}

.btn-primary{
    background-color: hsl(171, 66%, 44%);
}

.snippets{
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.snippet-one{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.snippet-two{
    display: flex;
    justify-content: space-between;
}

.snippet-two-div{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
}

.snippet-two-div img{
    width: 50%;
}

.access{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.access img{
    margin-top: 40px;
}


.workflow{
    display: flex;
    flex-direction: column;
}

.workflow :nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.workflow-cards{
    margin:100px 0px;
    display: flex;

}

.workflow-cards div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.workflow-cards div img{
    height: 44px;
    width: 40px;
}

.availability{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.companies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.secondary-navigation ul {
    list-style-type: none;
}

.secondary-navigation ul a {
    text-decoration: none;
}

.secondary-navigation {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    background-color: hsl(203, 21%, 88%);
}

.nav-links{
    display: flex;
    gap:30px;
}

.nav-links ul li a{
margin: 20px;
color: #413a3a; ;
}

.nav-links ul li{
    margin: 20px;
}
.secondary-navigation :first-child img{
    width: 50px;
    height: 50px;
}

footer{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    font-size: 18px;
}
/****************************
Mobile Responsive desing CSS
****************************/

